# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
lib/build
# Misc files
.idea
local.properties
.github
.DS_Store
*.iml
*.ipr
*.iws
.settings
.vscode
bin
.classpath
.project
/.cxx
